body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #B0BEC5;
    display: table;
    font-weight: 400;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: block;
}

.title {
    font-size: 72px;
    margin-bottom: 40px;
}

h3.maintain-txt {
    line-height: 40px;
}
.maintain-img-wrapper img {
    width: 100%;
}