@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: #333542;
}
div {
    font-size: 1rem;
}
.gry-color *,
.gry-color {
    color: #878f9c;
}

table {
    width: 100%;
}

table th {
    font-weight: normal;
}

table.padding th {
    padding: .5rem .7rem;
}

table.padding td {
    padding: .7rem;
}

table.sm-padding td {
    padding: .2rem .7rem;
}

.border-bottom td,
.border-bottom th {
    border-bottom: 1px solid #eceff4;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.small {
    font-size: .85rem;
}

.strong {
    font-weight: bold;
}
.main {
    margin-left:auto;margin-right:auto;
}
.heading {
    background: #eceff4;padding: 1.5rem;
}
.d-inline-block {
    display: inline-block;
}
.invoice-heading {
    font-size: 2.5rem;
}
.ml-20 {
    margin-left: 20px;
}
.mr-30 {
    margin-right: 30px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.order-details {
    margin-right: 30px; margin-top: -118px;
}
.package-info {
    padding: 1.5rem;
}
.info-titles {
    background: #eceff4; text-align: center
}
.mt-80 {
    margin-top: 80px;
}
.regards {
    font-size: 0.8rem; padding-right: 1.5rem
}