.alert {
    padding: 20px;
    background-color: rgb(255, 232, 148);
    color: rgb(97, 81, 24);
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}